{% extends "base.html" %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
<div class="reset-password-container">
	<h2>Password Reset</h2>
	<form action="" method="post" class="reset-password">{% csrf_token %}
		{% for field in form %}
		<div class="form-field">
			{{ field.label_tag }} {{ field }}
			{% for error in field.errors %}
				<span class="error">{{ error }}</span>
			{% endfor %}
		</div>
		{% endfor %}
		<div class="form-field">
			<input type="submit" value="Submit" />
		</div>
	</form>
</div>
{% endblock content %}